@use "sass:color";
@use "../../../../../colors.scss" as *;

.item-background {
  background-color: var(--clickgui-base-85-color);
  outline: 1px solid color-mix(in srgb, var(--clickgui-text-color) 15%, black);

  &:hover {
    outline: 1px solid color-mix(in srgb, var(--clickgui-text-color) 30%, black);
  }
}
